[Unit]
Description=Run ZKGL scheduled reminder refresh daily

[Timer]
OnCalendar=*-*-* 08:00:00
Persistent=true
Unit=zkgl-reminder.service

[Install]
WantedBy=timers.target
